{% extends 'root.html' %}
{% block title %}Last.fm Explorer{% endblock %}

{% block body %}
        <div id="top">
            <h1>404 - Page not found</h1>
            <p>How did you end up here?</p>
        </div>

{% endblock %}
