- extends 'root.html'

- block ttle
    About

- block body
    #top
        %p I'm Sam, I live and work in Edinburgh.  Slowly this website is coming together.
        %p The source for twothreefall.co.uk is available on <a href="https://github.com/aradnuk/twothreefall.co.uk">GitHub</a>

        %h2#lex Last.fm Explorer
        %p <a href="http://www.last.fm/user/aradnuk">I</a> love Last.fm to pieces.

        %h3 Changelog
        %ul
            %li
                %b 19-12-2011
                Fixed incorrect chart averages.  Thanks to <a href="http://www.last.fm/user/m2wester">m2wester</a> for spotting this.
            %li
                %b 23-10-2011
                Introduced an index page for all weekly charts.
            %li
                %b 20-10-2011
                Fixed it!
            %li
                %b 22-06-2011
                There's a weird problem with saving new artists to the database.
                Sometimes it occurs, sometimes it doesn't.. I'm working on it.
