- extends 'root.html'

- block body
    #top
        %h1.bigspace Hello,
        %dl#projlist
            %dt
                %b
                    %a.lexred{'href':'/lastfmexplorer'} Last.fm Explorer
            %dd
                A chart of my favourite artists in 2008, excluding any bands I've played in the last three months?  Yes please.
