!!! Strict
%html{'xmlns':'http://www.w3.org/1999/xhtml', 'xml:lang':'en', 'lang':'en'}
    %head
        %title
            - block ttle
                Twothreefall
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
        %script{
            'type': 'text/javascript',
            'src': 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
        }
        - block javascript
        - if not DEV
            :javascript
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-20399387-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

    %body
        #twothreefall
            %h2
                %a.ttflink{'href':'/'}
                    %span.ttfTwo TWO
                    %span.ttfThree> THREE
                    %span.ttfFall FALL
            #crumbs
                - block breadcrumbs
            #fixedrightmenu
                %ul.inlinedlist
                    %li
                        <a href="{% url about %}">ABOUT</a>

        - block allcontent
            #bodywrapper
                - block body

        - if not start
            #footer
                %p Written by Sam, powered by really strong tea.
