{% load staticfiles %}
!!! 5
%html{'lang':'en'}
    %head
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        %title
            - block ttle
                Twothreefall
        <link rel="shortcut icon" href="{% static "img/site/favicon.ico" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
        - block css
        - block javascript
        - if not DEV
            :javascript
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-20399387-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
    %body
        #wrap
            #header
                .container
                    .row
                        %h2.span12
                            %a.ttflink{'href':'/'} Two three fall
            .container
                - block body
        #footer
            .container
                %p.muted.credit
                    Written by <a href="http://www.last.fm/user/aradnuk">Sam</a>, powered by really strong tea.
                    <a href="{% url 'about' %}">About</a> /
                    <a href="https://github.com/aradnuk/twothreefall.co.uk">Source</a>
