anyjson              pip
celery               pip
django-celery        pip
django-cache-machine pip
python-memcached     pip
south                pip

lxml                 aptitude
libapache2-mod-wsgi  aptitude
memcached            aptitude
psycopg2
python-tk            aptitude
rabbitmq-server      aptitude

chgrp -R www-data lastfmexplorer

