/******* DATE SELECTOR *********************************************/

#dateselector {
    float: left;
    position: relative;
    overflow: hidden;  /* Hides curtain when moved. */
    width: 15in;
    border: 1px solid #000;
    padding: 1em 0;
}

.curtain {
    display: none;
    position: absolute;
    bottom: 0px;
    background-color: #000;
    height: 100%;
    opacity: 0.1;
}

#curtain-right {
    right: 10px;
}

#curtain-left {
    width: 100%;
    left: 0px
    right: 400px;
}
