{% extends 'root.html' %}
{% block body %}

<br/> <br/> <br/> <br/> <br/> <br/> <br/>

<form id="start" action="" method="get">
    <fieldset id="login">
        <legend>Last.fm Explorer</legend>
        <p class="description">Investigate all that data <a href="www.last.fm">Last.fm</a> has about you but doesn't expose.</p>
        <label for="name">Last.fm username</label>:
        <input type="text" name="username" id="name" value="{{ given }}"/>
        <input type="submit" value="Go" id="submit" />
{% if feedback.errmessage %}
        <div class="errordiv">
             <p><img src="{{ context.template.MEDIA_URL }}img/error.gif"/>
             {{ feedback.errmessage }}</p>
        </div>
{% endif %}
    </fieldset>
</form>


{% endblock %}
