{% extends 'root.html' %}
{% block ttle %}
    Last.fm Explorer
{% endblock %}
{% block body %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id='lex-start'>
        <form class='well form-inline' action='' method='get'>
            <fieldset id='login' class='control-group'>
                <legend>Last.fm Explorer</legend>
                <p class='description'>Investigate all that data <a href="http://www.last.fm">Last.fm</a> has about you but doesn't expose.</p>
                <div id='lex-user-inputs'>
                    {% if feedback.errmessage %}
                    <div class="control-group error">
                    {% else %}
                    <div class="control-group">
                    {% endif %}
                        <input id="name" type="text" name="username" value="{{ given }}" placeholder="Last.fm username"/>
                        <button class="btn" type="submit">Go</button>
                    </div>
                </div>
            </fieldset>
            {% if feedback.errmessage %}
                <div class='alert alert-error'>
                    <strong>{{ feedback.errmessage }}</strong>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

