{% extends 'root.html' %}
{% load reversetag breadcrumbs %}
{% block ttle %}{% block lextitle %}{% endblock %}Last.fm Explorer{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url "Last.fm Explorer" twothreefall.lastfmexplorer.views.start %}
{% endblock %}
{% block body %}
    <div id="top">
        <div id="datesandmenu">
            <h1>Last.fm Explorer &mdash; {{ context.user }}</h1> 
            <span id="dates">{{ context.template.dstart|date:"d/m/Y" }} &ndash; {{ context.template.dend|date:"d/m/Y" }}</span>
            {% comment %}{% include 'date-selector.html' %}{% endcomment %}
            <ul id="topmenu" class="inlinedlist slashseparated">
{% if context.year %} 
                <li><a href="{% url lastfmexplorer.views.overview context.user context.year %}">An overview</a></li>
                <li><a href="{% url lastfmexplorer.views.user_chart context.user context.year %}">Charts</a></li>
{% else %}
                <li><a href="{% url lastfmexplorer.views.overview context.user context.start context.end %}">An overview</a></li>
                <li><a href="{% url lastfmexplorer.views.user_chart context.user context.start context.end %}">Charts</a></li>
{% endif %}
                <li class="last"><a href="{% url about %}#lex">About</a></li>
                <!-- <li class="last"><a href="{% url lastfmexplorer.views.who context.user %}">Who</a></li> -->
            </ul>
        </div>

{% if not context.template.skipped_dates %}
        <div id="dateform">
            <form id="datechanger" method="get" action="#">
                <fieldset>
                    <legend>Configure</legend>
                    <input type="hidden" name="username" value="{{ context.user }}"/>
                    <input type="hidden" name="original_start" value="{{ context.start }} "/>
                    <input type="hidden" name="original_end" value="{{ context.end }}"/>
                    <div class="alignedLabel">
                        <label for="start-date" class="aligned">Start:</label><input id="start-date-picker" name="start" type="text" value="{{ context.template.dstart|date:"d/m/Y" }}"/>
                    </div>
                    <div class="alignedLabel">
                        <label for="end-date" class="aligned">End:</label><input id="end-date-picker" name="end" type="text" value="{{ context.template.dend|date:"d/m/Y" }}"/>
                    </div>
                    {% block lex_page_config %}{% endblock %}
                    <input type="submit" value="Update" id="update" />
                    <div id="dateShortcuts" class="inlinedlistpara">
                        <p>Or choose:</p>
                        <ul class="commaseparated">
    {% for year in context.template.year_shortcuts %}
                            <li><a href="{% reverse context.template.active_view context.user year %}{{ context.template.getq }}">{{ year }}</a></li>
    {% endfor %}
                            <li class="last"><a href="{% reverse context.template.active_view context.user %}{{ context.template.getq }}">All</a></li>
                        </ul>
                        <br/>
                        <p>or the last</p>
                        <ul class="commaseparated">
    {% for name, s, e in context.template.shortcuts %}
                            {% if forloop.last %}<li class="last">{% else %}<li>{% endif %}
                            <a href="{% reverse context.template.active_view context.user s e %}{{ context.template.getq }}">{{ name }}</a></li>
    {% endfor %}
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>

{% endif %}
    </div>

    <div id="allcontent">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
