
{% extends 'exploration/base.html' %}

{% block content %}
    <div class="itemofinterest">
        <div class="itemtitle">
            <h2>New artists between {{ context.template.dstart }} and {{ context.template.dend }}</h2>
            <hr/>
        </div>
        <div class="itemcontent">
            <ol>
                {% for artist, pc, max in artists %}
                <li class="barchart">
                    <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>
                    <div class="barchart_item" style="width:{% widthratio pc max 99 %}%;">
                        <span class='barchart_num'>{{ pc }}</span>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
