- extends 'exploration/base.html'
{% load staticfiles %}

- block lextitle
    {{ context.user }} - {% if context.year %}{{ context.year }} - {% endif %}

- block content

    .row
        .span12
            %h3 In this period
            %ul
                - for item in vitals
                    %li {{ item|safe }}
    .row
        .span12
            %h3 Weekly Playcounts
            .itemcontent
                %p
                    <b><span class="blue">blue</span></b>: number of songs played in a week,
                    <b><span class="green">green</span></b>: onrunning average
                #weekly_js{'style': 'width: 100%; height: 150px;'}

    .row
        .span6
            %div{'style': 'float:left;'}
                %h3 Cumulative monthly track totals
                #monthly_js{'style': "width:470px; height: 320px; margin-bottom:1em;"}
        .span6
            %div{'style': 'float:left;'}
                %h3 Weekly playcount frequency
                #weekly_counts_hist{'style':"width:470px; height: 320px; margin-bottom:1em;"}

    .row
        %h2 Most...
        .span4
            %h3 Plays of one artist in one week
            %ol
                - for item, date in record_single_artist
                    %li
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user item.week_idx %}">{{ date|date:"d/m/Y" }}</a>:
                        <b>{{ item.plays }}</b> - {{ item.artist }}
        .span4
            %h3 Songs scrobbled in one week
            %ol
                - for idx, date, plays in record_total_plays
                    %li
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user idx %}">{{ date|date:"d/m/Y" }}</a> - <b>{{ plays }}</b>
        .span4
            %h3 Unique artists scrobbled in one week
            %ol
                - for idx, date, artist_count in record_unique_artists
                    %li
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user idx %}">{{ date|date:"d/m/Y" }}</a> - <b>{{ artist_count }}</b>

    .row
        .span12
            .itemtitle
                %h2 Top Artists
            .itemcontent
                - include 'exploration/chart.html'

    :javascript
        require(["flot-charts"], function(fc) {
            var monthly_counts = {{ mcjs }};

            fc.monthly_counts("#monthly_js", monthly_counts);
            fc.weekly_hist("#weekly_counts_hist", {{ wpc_hist_step }}, {{ wpc_hist }});

            var weeklies = [
                {% for dte, playcount in wpcs %}[{{ dte }}, {{ playcount }}]{% if not forloop.last %},{% endif %}{% endfor %}];
            fc.weekly_line("#weekly_js", weeklies, { "show_averages": true });
        });
