{% extends 'exploration/base.html' %}
{% load staticfiles %}
{% block lextitle %}
    {{ context.user }} - {% if context.year %}{{ context.year }} - {% endif %}
{% endblock %}
{% block content %}
    <div class='row'>
        <div class='span12'>
            <h3>In this period</h3>
            <ul>
                {% for item in vitals %}
                    <li>{{ item|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='span12'>
            <h3>Weekly Playcounts</h3>
            <div class='itemcontent'>
                <p>
                    <b><span class="blue">blue</span></b>: number of songs played in a week,
                    <b><span class="green">green</span></b>: onrunning average
                </p>
                <div id='weekly_js' style='width: 100%; height: 150px;'></div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span6'>
            <div style='float:left;'>
                <h3>Cumulative monthly track totals</h3>
                <div id='monthly_js' style='width:470px; height: 320px; margin-bottom:1em;'></div>
            </div>
        </div>
        <div class='span6'>
            <div style='float:left;'>
                <h3>Weekly playcount frequency</h3>
                <div id='weekly_counts_hist' style='width:470px; height: 320px; margin-bottom:1em;'></div>
            </div>
        </div>
    </div>
    <div class='row'>
        <h2>Most...</h2>
        <div class='span4'>
            <h3>Plays of one artist in one week</h3>
            <ol>
                {% for item, date in record_single_artist %}
                    <li>
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user item.week_idx %}">{{ date|date:"d/m/Y" }}</a>:
                        <b>{{ item.plays }}</b> - {{ item.artist }}
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class='span4'>
            <h3>Songs scrobbled in one week</h3>
            <ol>
                {% for idx, date, plays in record_total_plays %}
                    <li>
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user idx %}">{{ date|date:"d/m/Y" }}</a> - <b>{{ plays }}</b>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class='span4'>
            <h3>Unique artists scrobbled in one week</h3>
            <ol>
                {% for idx, date, artist_count in record_unique_artists %}
                    <li>
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user idx %}">{{ date|date:"d/m/Y" }}</a> - <b>{{ artist_count }}</b>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class='row'>
        <div class='span12'>
            <div class='itemtitle'>
                <h2>Top Artists</h2>
            </div>
            <div class='itemcontent'>
                {% include 'exploration/chart.html' %}
            </div>
        </div>
    </div>
<script type='text/javascript'>
// <![CDATA[
        require(["flot-charts"], function(fc) {
            console.log('hello');
            var monthly_counts = {{ mcjs }};
            fc.monthly_counts("#monthly_js", monthly_counts);
            fc.weekly_hist("#weekly_counts_hist", {{ wpc_hist_step }}, {{ wpc_hist }});
            var weeklies = [
                {% for dte, playcount, average in wpcjs %}[{{ dte }}, {{ playcount }}, {{ average }}]{% if not forloop.last %},{% endif %}{% endfor %}];
            fc.weekly_line("#weekly_js", weeklies);
        });
// ]]>
</script>
{% endblock %}

