- extends 'exploration/base.html'

- block lextitle
    {{ context.user }} - {% if context.year %}{{ context.year }}{% endif %} Chart -

- block lex_page_config
    .control-group
        %label.control-label Exclude
        .controls
            %label.checkbox
                <input id="newmusic" name="newmusic" type="checkbox" {% if only_new %}checked="checked"{% endif %}/>
                artists scrobbled before start date
            %label.checkbox
                <input id="exclude_months" name="exclude_months" type="checkbox" {% if exclude_months %}checked="checked"{% endif %}/>
                artists scrobbled in the last
                <input id="num_excluded" name="num_excluded" type="text" class="span1" value="{{ num_excluded }}"/>
                months
    .control-group
        %label.control-label{"for": "count"} Items in chart
        .controls
            <input id="count" class="span3" name="count" type="text" {% if count %}value="{{ count }}"{% endif %}/>

- block content
    .row
        .span12
            - if isWeek
                #weeklinks
                    %span#previousweek
                        - if prevW > 0
                            <a href="{% url "lastfmexplorer.views.user_week_chart" context.user prevW %}">Previous</a>
                        - else
                            Previous
                    %span#nextweek
                        <a href="{% url "lastfmexplorer.views.user_week_chart" context.user nextW %}">Next</a>
            - include 'exploration/chart.html'

    :javascript
        require(["flot-charts", "vendor/jquery"], function(fc) {
            $(document).ready(function() {
                $("#num_excluded").on("click", function(e) { e.preventDefault(); });
            });

            $(".barchart").on("click", function(event) {
                var self = $(this);
                self.unbind("click");
                var artist = self.data("id");
                if (artist === undefined) return;
                $.ajax({
                    url: "/lastfmexplorer/api/{{ context.user.id }}/artistplays/"+artist,
                    dataType: "json",
                    data: {
                        "start": {{ context.start }},
                        "end": {{ context.end }}
                    },
                    success: function(response) {
                        var inline_chart = $(".inline-chart", self).show();
                        fc.weekly_line(inline_chart, response, {{ context.start }}, {{ context.end }});
                    }
                });
            });
        });