{% extends 'exploration/base.html' %}
{% block lextitle %}{{ context.user }} - {% if context.year %}{{ context.year }}{% endif %} Chart - {% endblock %}
{% block lex_page_config %}
    <label for="newmusic">Only show new artists:</label>
    <input id="newmusic" name="newmusic" type="checkbox" {% if only_new %}checked="checked"{% endif %}/>

    <br/>
    OR
    <br/>
    <label for="exclude_months">Exclude artists scrobbled in the last</label>
    <input id="exclude_months" name="exclude_months" type="input" 
        {% if exclude_months %}value="{{ exclude_months }}"{% endif %}/>
    months
    <br/>
    <label for="count">Items in chart:</label>
    <input id="count" name="count" type="input" {% if count %}value="{{ count }}"{% endif %}/>
    <br/>
{% endblock %}

{% block content %}
    <div class="itemofinterest">
        <div class="itemcontent">
{% if isWeek %}
            <div id="weeklinks"> 
                <span id="previousweek">
    {% if prevW > 0 %}
                <a href="{% url lastfmexplorer.views.user_week_chart context.user prevW %}">Previous</a>
    {% else %}
                Previous
    {% endif %}
                </span>
                <span id="nextweek"><a href="{% url lastfmexplorer.views.user_week_chart context.user nextW %}">Next</a></span>
            </div>
{% endif %}
            <ol>
{% for artist, count, max in chart %}
                <li class="barchart" >
                    <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>
                    <div class="barchart_item" style="width:{% widthratio count max 99 %}%;">
                        <span class='barchart_num'>{{ count }}</span>
                    </div>
                </li>
{% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
