{% extends 'exploration/base.html' %}

{% block content %}
    <div class="itemofinterest">
        <div class="itemtitle">
            <h2>Weekly plays of artists between {{ context.template.dstart }} and {{ context.template.dend }}</h2>
            <hr/>
        </div>
        <div style="width:1000px; height: 150px;" id="artist_playcounts"/>
        <div class="itemcontent">
{% for artist, weeks in weekly_plays.items %}
        <h3>{{ artist.name }}</h3>
    {% for week_idx, playcount in weeks.items %}
    {{ week_idx }} - {% if playcount > 10 %}<b style="font-size:14px;">{{ playcount }}</b>{% else %}{{ playcount }}{% endif %} / 
    {% endfor %}
{% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/external/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/flot-charts.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                artists = [{% for i in array_counter %}[],{% endfor %}];
{% for artist, weeks in weekly_plays.items %}
    {% for dte, playcount in weeks %}
            artists[{{ forloop.parentloop.counter0 }}].push([{{ dte }}, {{ playcount }}]);{% endfor %}
{% endfor %}
            plot_line_chart("#artist_playcounts", artists);
        });
    </script>
{% endblock %}
