{% extends 'exploration/base.html' %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url context.user twothreefall.lastfmexplorer.views.overview context.user context.start context.end %}
    {% breadcrumb_url "Index" twothreefall.lastfmexplorer.views.user_data context.user %}
{% endblock %}

{% load humanize %}
{% block content %}
    <p class="blockoftext">A week-by-week index of data Last.fm Explorer has pulled for {{ context.user }} from Last.fm.
       On rare occasions data given out is unavailable for unknown reasons &mdash;
       there's a full list of bad weeks encountered <a href="{% url lastfmexplorer.views.list_bad_xml_files %}">here</a>.
       <b><span class="green">Green</span></b> weeks are good,
        <b><span class="red">red</span></b> weeks were unavailable,
        <b><span class="grey">grey</span></b> weeks had no scrobbles.</p>

    {% for year, months in years %}
        <div class="year_group">
            <h2>{{ year }}</h2><hr/>
            <table>
                {% for month, weeks in months %}
                    <tr>
                        <td><strong>{{ month|upper }}</strong></td>
                        {% for week in weeks reversed %}
                            <td id="{{ week.index }}">
                                {% if week.errored %}
                                    <strong><span class="red">{{ week.day|ordinal }}</span></strong>
                                    {% else %}
                                    {% if not week.missing %}
                                        <a href="{% url lastfmexplorer.views.user_week_chart context.user week.index %}">
                                            <span class="green">{{ week.day|ordinal }}</span></a>
                                    {% else %}
                                        <span class="grey">{{ week.day|ordinal }}</span>
                                    {% endif %}
                                {% endif %}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endfor %}
{% endblock %}