{% extends 'exploration/base.html' %}
{% block lextitle %}
    {{ context.user }} - {% if context.year %}{{ context.year }}{% endif %} TopN -
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/external/flot/jquery.flot.navigate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/flot-charts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/topn.js"></script>
<script type='text/javascript'>
// <![CDATA[
        $(document).ready(function() {
            $.get("{% url lastfmexplorer.views.top_n_ajax %}", {u: "{{ context.user }}"}, topNner.plot);
        });
// ]]>
</script>
{% endblock %}
{% block content %}
    <h2>Top-N History</h2>
    <div id="hovered">..hover</div>
    <div style="width:100%; height: 650px;" id="topn"></div>
{% endblock %}
