- extends 'root.html'

- load breadcrumbs
- load url from future

- block breadcrumbs
    = block.super
    - breadcrumb_url "Last.fm Explorer" twothreefall.lastfmexplorer.views.start

- block ttle
    - block lextitle
        Last.fm Explorer

- block body
    #top
        #datesandmenu
            .float-left
                %img{'src':'{{context.user.image}}', 'alt': "Profile image for {{context.user}}"}/
            .float-left
                %h1 Last.fm Explorer &mdash; {{ context.user }}

                %span#dates {{ context.template.dstart|date:"d/m/Y" }} &ndash; {{ context.template.dend|date:"d/m/Y" }}
                %ul#topmenu.inlinedlist.slashseparated
                    - if context.year
                        %li
                            <a href="{% url "lastfmexplorer.views.overview" context.user context.year %}">An overview</a>
                        %li
                            <a href="{% url "lastfmexplorer.views.user_chart" context.user context.year %}">Charts</a>
                    - else
                        %li
                            <a href="{% url "lastfmexplorer.views.overview" context.user context.start context.end %}">An overview</a>
                        %li
                            <a href="{% url "lastfmexplorer.views.user_chart" context.user context.start context.end %}">Charts</a>
                    %li.last
                        <a href="{% url "lastfmexplorer.views.user_data" context.user %}">Week index</a>

        - if not context.template.skipped_dates
            #dateform
                %form#datechanger{'method': 'get', 'action': '#'}
                    %fieldset
                        %legend Configure
                        %input{'type': 'hidden', 'name': 'username', 'value': '{{context.user}}'}/
                        %input{'type': 'hidden', 'name': 'original_start', 'value': '{{context.start}}'}/
                        %input{'type': 'hidden', 'name': 'original_end', 'value': '{{context.end}}'}/
                        .alignedLabel
                            %label.aligned{'for': 'start-date-picker'} Start:
                            <input id="start-date-picker" name="start" type="text" value="{{ context.template.dstart|date:"d/m/Y" }}"/>
                        .alignedLabel
                            %label.aligned{'for': 'end-date-picker'} End:
                            <input id="end-date-picker" name="end" type="text" value="{{ context.template.dend|date:"d/m/Y" }}"/>

                        - block lex_page_config

                        %input#update{'type': 'submit', 'value': 'Update'}/
                        #dateShortcuts.inlinedlistpara
                            %p Or choose:
                            %ul.commaseparated
                                - for year in context.template.year_shortcuts
                                    - if forloop.last
                                        %li.last
                                            <a href="{% url context.template.active_view context.user year %}{{ context.template.getq }}">{{ year }}</a>
                                    - else
                                        %li<
                                            <a href="{% url context.template.active_view context.user year %}{{ context.template.getq }}">{{ year }}</a>
                            %br
                            %p or the last
                            %ul.commaseparated
                                - for name, s, e in context.template.shortcuts
                                    %li<
                                        <a href="{% url context.template.active_view context.user s e %}{{ context.template.getq }}">{{ name }}</a>
                                %li.last
                                    <a href="{% url context.template.active_view context.user %}{{ context.template.getq }}">All</a>
    #allcontent
        - block content
