- extends 'root.html'

- load url from future

- block ttle
    - block lextitle
    Last.fm Explorer


- block body

    .row
        .span12
            .float-left
                %img#profile_image{'src':'{{context.user.image}}', 'alt': "Profile image for {{context.user}}"}/
            .float-left
                %h1 <span class="lex-red">Last.fm Explorer</span> &mdash; <span class="lex-red">{{context.user}}</span>
                %span#dates {{ context.template.dstart|date:"d/m/Y" }} &ndash; {{ context.template.dend|date:"d/m/Y" }}
                %ul#topmenu.inlinedlist.slashseparated
                    %li
                        <a href="{% url "lastfmexplorer.views.overview" context.user %}">An overview</a>
                    %li
                        <a href="{% url "lastfmexplorer.views.user_chart" context.user %}">Charts</a>
                    %li.last
                        <a href="{% url "lastfmexplorer.views.user_data" context.user %}">Week index</a>

    - if not context.template.skipped_dates
        .row
            .span6
                %form.well
                    %h3 Choose a year
                    .inlinedlistpara
                        %ul.commaseparated
                            - for year in context.template.year_shortcuts
                                - if forloop.last
                                    %li.last
                                        <a href="{% url context.template.active_view context.user year %}{{ context.template.getq }}">{{ year }}</a>
                                - else
                                    %li<
                                        <a href="{% url context.template.active_view context.user year %}{{ context.template.getq }}">{{ year }}</a>
                    %h3 Or the last..
                    .inlinedlistpara
                        %ul.commaseparated
                            - for name, s, e in context.template.shortcuts
                                %li<
                                    <a href="{% url context.template.active_view context.user s e %}{{ context.template.getq }}">{{ name }}</a>
                            %li.last
                                <a href="{% url context.template.active_view context.user %}{{ context.template.getq }}">All</a>
            .span6
                %form.form-horizontal.well{'method': 'get', 'action': '#'}
                    %h3 Choose a custom date range
                    <input type="hidden" name="username" value="{{ context.user }}"/>
                    <input type="hidden" name="original_start" value="{{ context.start }}"/>
                    <input type="hidden" name="original_end" value="{{ context.end }}"/>

                    .control-group
                        %label.control-label{"for": "start-date-picker"} From the week ending
                        .controls
                            <input id="start-date-picker" class="span3" name="start" type="text" value="{{ context.template.dstart|date:"d/m/Y" }}" placeholder="A Sunday"/>

                    .control-group
                        %label.control-label{"for": "end-date-picker"} to the week ending
                        .controls
                            <input id="end-date-picker" class="span3" name="end" type="text" value="{{ context.template.dend|date:"d/m/Y" }}" placeholder="A Sunday"/>

                    - block lex_page_config

                    <button type="submit" class="btn btn-primary">Update</button>
    #allcontent
        - block content
