{% extends 'root.html' %}
{% block ttle %}About{% endblock %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url "About" about %}
{% endblock %}
{% block body %}
    <div id="top">
        <p>I'm Sam, I live and work in Edinburgh.  Slowly this website is coming together.</p>
        <p>The source for twothreefall.co.uk is available on <a href="https://github.com/aradnuk/twothreefall.co.uk">GitHub</a>.

        <h2 id="lex">Last.fm Explorer</h2>
            <p><a href="http://www.last.fm/user/aradnuk">I</a> love Last.fm to pieces.</p>
            <p>Last.fm Explorer uses:</p>
            <ul>
                <li><a href="http://www.linode.com">Linode</a> to host twothreefall</li>
                <li><a href="http://www.python.org">Python</a> to run it all</li>
                <li><a href="http://www.djangoproject.com/">Django</a> as a framework to keep things simple</li>
                <li><a href="http://celeryproject.org/">Celery</a> to help fetch data from Last.fm efficiently.</li>
            </ul>


        <h3>For the future</h3>
            <ul>
                <li>Information for tracks and albums rather than just artists.  
                    I'd like to see how the current version performs before including them.</li>
            </ul>

        <h3>Notes</h3>
        <ul>
            <li><b>22-06-2011</b> There's a weird problem with saving new artists to the database.  Sometimes it occurs, sometimes it doesn't.. I'm working on it.</li>
        </ul>

    </div>
{% endblock %}
