        {% comment %} initialise date pickers {% endcomment %}
        <script type="text/javascript">
            $(document).ready(function() { 


                var total_weeks = {{ total_weeks }};
                var ds = $("#dateselector");
                var image_width = ds.width();
                
                ds.mouseover(function(e) {
                    $("#mouse").html('over');
                    ds.mousemove(function(e) {

                        var x = e.pageX - ds.offset().left;
                        var guess = Math.floor( (x / image_width) * total_weeks);
                        var dg = new Date(2005, 1, 13);
                        dg.setDate(dg.getDate() + (7*guess));

                        // Debug
                        $("#pagex").html(x)
                        $("#weekguess").html(guess);
                        $("#dateguess").html(dg.getDate() + '/' + (dg.getMonth()+1) + '/' + dg.getFullYear());
                        //$("#curtain-left").css('left', x);
                    });
                    $("body").mouseout(function(e) {
                        ds.unbind('mousemove');
                        $("#mouse").html('out');
                    });
                });

            });
        </script>

            <div id="dateselector">
                <img src="{{ wpc_line }}" />
                <div class="curtain" id="curtain-left"></div>
            </div>

            <div style="clear:both; text-align:left; padding: 0 2em;">
                <h4>Mouseinfo</h4>
                <p>page x: <span id="pagex"></span><br/>
                mouse: <span id="mouse">up</span><br/>
                week guess: <span id="weekguess"></span><br/>
                guess date: <span id="dateguess"></span>
                </p>
            </div>
