<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block ttle %}Twothreefall{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
{% block javascript %}{% endblock %}
{% if not DEV %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20399387-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
{% endif %}
    </head>

    <body>
{% comment %} Navigation {% endcomment %}
        <div id="twothreefall">
            <h2><a class="ttflink" href="/"><span class="ttfTwo">TWO</span><span class="ttfThree">THREE</span><span class="ttfFall">FALL</span></a></h2> 
            <div id="crumbs"> {% block breadcrumbs %}{% endblock %} </div>
            <div id="fixedrightmenu">
                <ul id="fixedrightentries" class="inlinedlist">
                    <li><a href="{% url about %}">ABOUT</a></li>
                </ul>
            </div>
        </div>

{% block allcontent %}
        <div id="bodywrapper">
            {% block body %}{% endblock %}
        </div>
{% endblock %}

{% if not start %}
    {% include 'footer.html' %}
{% endif %}

    </body>
</html>
