{% extends 'root.html' %}
{% block ttle %}
    Last.fm Explorer
{% endblock %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url "Last.fm Explorer" lastfmexplorer.views.start %}
{% endblock %}
{% block body %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form id='start' action='' method='get'>
        <fieldset id='login'>
            <legend>Last.fm Explorer</legend>
            <p class='description'>Investigate all that data <a href="http://www.last.fm">Last.fm</a> has about you but doesn't expose.</p>
            <label for='name'>Last.fm username:</label>
            <input id='name' type='text' name='username' value='{{given}}' />
            <input id='submit' type='submit' value='Go' />
            {% if feedback.errmessage %}
                <div class='errordiv'>
                    <p>
                        <img src="{{ STATIC_URL }}img/site/error.gif"/>
                        {{ feedback.errmessage }}
                    </p>
                </div>
            {% endif %}
        </fieldset>
    </form>
{% endblock %}
