{% extends 'root.html' %}
{% block title %}Last.fm Explorer Update -- {{ username }}{% endblock %}
{% block javascript %}
{% comment %} Only need to poll for updates if update in progress. {% endcomment %}
{% if not skipped %}
        <script type="text/javascript">
            {% comment %} Requesting updates to weekly data. {% endcomment %}
            function pollstatus() {                $.post("{% url lastfmexplorer.views.poll_task_status %}",                    {"username" : "{{ username }}" },                      function(response) {                        $("#updatestatus").html(response.pending);                        if (!response.alldone) {                            setTimeout('pollstatus()', 2500);                        } else {                            $("#updatepara").append(" All done! <a href=\"{% url lastfmexplorer.views.overview username %}\">Get exploring</a>.");                        }
                    },
                    "json"
                );
            }
            $(document).ready(function() {                pollstatus();            });
        </script>
{% endif %}
{% endblock %}
{% block body %}
        <div id="allcontent">
            <h1>Hey {{ username }},</h1>
{% if skipped %}
            <p>Looks like you're up to date!</p>
            <p><a href="{% url lastfmexplorer.views.overview username %}">Get exploring</a>.</p>
{% else %}
            <p id="updatepara"><span id="updatestatus">0</span> of {{ total_tasks }} weeks remaining.</p>
{% endif %}
        </div>
{% endblock %}
