- extends 'root.html'

- block ttle
    Last.fm Explorer

- load breadcrumbs
- block breadcrumbs
    = block.super
    - breadcrumb_url "Last.fm Explorer" lastfmexplorer.views.start

-#
    {% block javascript %}<script type="text/javascript" src="{{ STATIC_URL }}js/update-polling.js"></script>{% endblock %}
        <p><img src="{{ STATIC_URL }}img/site/spinner.gif"/>Contacting Last.fm to see if you exist</p>

- block body
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/

    %form#start{'action': '', 'method': 'get'}
        %fieldset#login
            %legend Last.fm Explorer
            %p.description Investigate all that data <a href="http://www.last.fm">Last.fm</a> has about you but doesn't expose.
            %label{'for': 'name'} Last.fm username:
            %input#name{'type': 'text', 'name': 'username', 'value': '= given'}/
            %input#submit{'type': 'submit', 'value': 'Go'}/

            - if feedback.errmessage
                .errordiv
                    %p
                        <img src="{{ STATIC_URL }}img/site/error.gif" %}"/>
                        = feedback.errmessage
