.float-left {
    float: left;
}
.row {
    margin-bottom: 10px;
}

#header {
    margin: 0 0 25px 0;
    padding: 10px 0;
    background-color: #094A90;
    border-bottom: 10px solid #0b2744;
}
#header .row {
    margin-bottom: 0;
}
#header h2 a {
    color: #efefef;
    letter-spacing: 2px;
}

/******* INLINED LISTS AND PARAGRAPHS ******************************/
.inlinedlistpara {
    margin: 0.4em;
    padding: 5px;
}

.inlinedlistpara p {
    display: inline;
}

.inlinedlistpara ul, .inlinedlistpara li {
    display: inline;
    margin: 0;
    padding: 0;
    color: #339;
    font-weight: bold;
}

.inlinedlist {
    display: inline;
    padding: 0;
    margin: 0;
}

.inlinedlist li {
    display: inline;
}

.slashseparated li:after {
    content: " /";
}

.commaseparated li:after {
    content: ", ";
}

.gtseparated li:after {
    content: " > ";
}

.gtseparated li.first:before {
    content: " > ";
}

.slashseparated li.last:after,
.commaseparated li.last:after,
.gtseparated li.last:after {
    content: "";
}

/******* ABOUT *****************************************************/

#about {
    display: block;
    border: 1px solid green;
    text-align: center;
    padding: 2px;
    background-color: black;
}

#about a {
    color: white;

}

/******* Sticky footer *******************************************/

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

#footer p {
    text-align: center;
}
.container .credit {
    margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
